<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= (name) %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <p class="dropdown-item" type="text">Action</p>
    <p class="dropdown-item" type="text">Another action</p>
    <p class="dropdown-item" type="text">Something else here</p>
  </div>
</div>
